.trip-type{
    width:90% !important;
}
.label-name{
    font-size: 14px !important;
    color: black !important;
}
.css-1h51icj-MuiAutocomplete-root .MuiOutlinedInput-root .MuiAutocomplete-input{
padding: 0.5px 4px 7.5px 5px !important;
}